@font-face {
    font-family: 'Apple';
    src: url("./assets/fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

@keyframes textStart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}  

@keyframes textTopStart {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Apple', 'Malgun Gothic';
}

body {
    overflow-x: auto;
}

#warning {
    opacity: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s linear;
}

#warning.active {
    opacity: 1;
}

/* START PAGE 1707 916*/

.page0 {
    position: relative;
    width: 100vw;
    height: 85vh;
    padding: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c3c3f5;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.1vw 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h4 {
    animation: textStart 1s ease-in-out;
    color: white;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: black;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: textStart 1s ease-in-out;
    display: inline-block;
    margin-left: 0.5vw;
    font-weight: 900;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rect1 {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    background-color: #35358e;
}

.textBox {
    max-width: 25vw;
}

.textBox h2 {
    animation: textTopStart 2s ease-in-out;
    text-shadow: 0 3 50px rgba(0, 0, 0, 1);
    color: white;
    font-size: 4vw;
    font-weight: 100;
    line-height: 12vh;
}

.textBox h2 span {
    color: #f1f389;
    font-size: 5vw;
    font-weight: 900;
}

.textBox p {
    font-size: 1.2vw;
    animation: textStart 3s ease-in-out;
    text-shadow: 0 0 50px rgba(0, 0, 0, 1);
    color: #888;
    margin-top: 1.1vw;
}

/* PAGE 1 */

.page1 {
    z-index: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 55vh;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rect2 {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100vh;
    padding: 3vw;
    background-color: #222;
}

.rect2 p {
    color: white;
}